body {
  background-color: white;
    
  margin-top: 0pt;
  padding-top: 0pt;
}

header {
  background-color: darkgray;
  margin-bottom: 20px;
  
  margin-top: 0pt;
  padding-top: 0pt;
  
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
}
ul {
  list-style-type: none;
  width: 50%;
  float: right;
  margin: auto;
}

ul {
  color: #303030;
}
div wall button{
  color:white;
  background-color: black;
  padding: 5px;
}
textarea{
  background-color: white;
  border: none;
  resize: none;
}
li {
  display: inline;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

div picture1 img {
  float: left;
  margin: 20px 0px 20px 100px;
  width: 200px;
  height: 70px;
  background-color: #DDD;
  z-index: +1;
}
main {
  width: 100%;
}
section {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
div picture2 img {
  display: inline-block;
  background-color: #DDD;
  height: 450px;
  width: 960px;
}


section figure1 img {


  display: inline-block;
  width: 300px;
  height: 375px;
  background-color: #DDD;

}



section figure2 img {


  display: inline-block;
  width: 300px;
  height: 375px;
  background-color: #DDD;

}


section figure3 img {


  display: inline-block;
  width: 300px;
  height: 375px;
  background-color: #DDD;

}




section figure2 img {
  margin-left: 30px;
  margin-right: 30px;
}
section {
  display: flex;
  justify-content: center;
}
section figure4 img {
  width: 480px;
  height: 400px;
}
section figure4 img {
  background-color: #DDD;}



  section figure5 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 460px;
}
section figure5 h5 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

div wall {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
div wall button {
  width: 200px;
  height: 40px;
}
textarea {
  height: 350px;
}
footer {
  background-color: darkgray;
  margin-bottom: 20px;
  height: 200px;
}